/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */
@media (min-width: 600px) {
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 30px;
  }
}

.test {
  background-image: image("car.jpeg");
}

.test {
  background-image: image("car.jpeg");
  width: 500px;
  height: 500px;
}
.nav {
  display: grid;
  grid-template-columns: 0.8fr 0.7fr auto 1fr 1fr;
  grid-template-rows: 1fr;
  position: fixed;
}
@media (min-width: 600px) {
  .nav2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr auto 1fr 1fr;
  }
}
.nav3 {
  display: inline-block;
  position: fixed;
}
.logo {
  display: block;
  grid-column: 2;
  grid-row: 1;
  max-width: 100%;
}

.MME {
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-width: thick;
}
.EE {
  background-image: url("images/400.jpg");
}
.II {
  background-image: url("images/poster2.jpeg");
}
.pic {
  max-width: 140px;
  max-height: 140px;
  min-width: 100px;
  min-height: 100px;
}

.text1 {
  font-family: Inconsolata, monospace;
}
.text2 {
  font-family: Inconsolata, monospace;
}
